body {
    padding-top: 50px;
    background-color: #efefef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px 25px;
    background-color: #f8f8f8;
    color: #606060;
    color: rgba(96, 96, 96, 0.9 );
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

select, input[type="text"], input[type="tel"] {
    background-repeat: no-repeat;
    padding-left: 33px !important;
    background-position: 5px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -ms-background-size: 25px;
    background-size: 25px;
    -ms-opacity: 0.6;
    opacity: 0.6;
    height: 40px !important;
}

.Editor-editor {
    background-color: #ffffff !important;
}

.content-components {
    background-color: #f8f8f8;
    padding-top: 10px;
}

.content-components-offset {
    margin-right: -30px !important;
    margin-left: -30px !important;
}

@media (min-width: 768px) {
    .banner {
        background-image: url("Images/banner.png");
        height: 120px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 50px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}

.page-header-color {
    color: #bb0000;
}

.page-header {
    margin: 70px 0 0px !important;
    background-color: #f8f8f8;
    padding: 10px 0 10px 0;
}

@media(max-width: 767px) {
    .page-header {
        margin: 0px 0 0px !important;
        background-color: #f8f8f8;
        padding: 10px 0 10px 0;
    }
}

.header-margin {
    margin-top: 15px;
    margin-right: 10px;
}

.header-padding {
    margin-top: 20px;
    margin-bottom: 10px;
}

.col-favorite-padding {
    padding-top: 15px;
}

.col-buttons-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #ffffff;
}

ul.pagination a {
    color: black;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    color: black;
}

.pagination-background {
    background-color: #9f9f9f !important;
    color: #efefef !important;
}

.button-background {
    background-color: #9f9f9f;
    padding: 8px 15px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    color: #efefef;
}

.body-area {
    background-color: #efefef;
    padding-top: 15px;
}

.heart-on {
    background-image: url("Images/heart-on.png");
}

.favourite-on {
    color: black;
}

.heart-off {
    background-image: url("Images/heart-off.png");
}

.favourite {
    cursor: pointer;
}

.heart {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.btn-send[disabled] {
    background-color:  #bb0000!important;
}

.btn-send {
    background-color: #bb0000 ;
    color: white;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

footer {
    text-align: center;
}

.footer-area {
    background-color: #ffffff;
    min-height: 50px;
}

.background-row {
    background-color: #efefef;
    margin: 10px 0 10px 0;
}

select.form-control {
    border-radius: 0px !important;
}

select {
    background-image: url("Images/sort.png");
}

.center-element {
    padding-top: 2%;
}

.input-contact {
    background-image: url("Images/contact.png");
}

.input-contact-name {
    background-image: url("Images/name.png");
}

.input-date {
    background-image: url("Images/calendar.png");
}

.input-phone {
    background-image: url("Images/phone.png");
}

@media (max-width : 767px) {
    .navbar-inverse {
        background-image: url("Images/banner-movil.png");
        /*background-repeat: repeat;*/
    }
}
