body {
    padding-top: 50px;
    background-color: #efefef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px 25px;
    background-color: #f8f8f8;
    color: #606060;
    color: rgba(96, 96, 96, 0.9 );
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media (min-width: 768px) {
    .banner {
        background-image: url("Images/banner.png");
        height: 120px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

.page-header-color {
    color: #bb0000;
}

.page-header {
    margin: 60px 0 0px !important;
    background-color: #f8f8f8;
}

a {
    color: #ffffff;
}

ul.pagination a {
    color: black;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    color: black;
}

.pagination-background {
    background-color: #9f9f9f !important;
}

.button-background {
    background-color: #9f9f9f;
    padding: 8px 15px;
    -ms-border-radius: 0px;
    border-radius: 0px
}

.body-area {
    background-color: #efefef;
    padding-top: 15px;
}

.heart-on {
    background-image: url("Images/heart-on.png");
}

.heart-off {
    background-image: url("Images/heart-off.png");
}

.favourite {
    cursor: pointer;
}

.heart {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.btn-send {
    background-color: #bb0000;
    color: white;
}

.footer-area {
    background-color: #ffffff;
    min-height: 50px;
}

.background-row {
    background-color: #efefef;
    margin: 10px 0 10px 0;
}

select.form-control {
    border-radius: 0px !important;
}

#sortExp:after {
    background-image: url("Images/sort.png")
}
